.DS_Store
design_docs/

# Ignore Python Compiled/Object files.
*.pyc
*.pyo


# Ignore any sqlite databases, as those will be development, and will change on each local system.
sqlite/

# Ignore media files, as these will change locally.
media/
!webapp/media/
!webapp_admin/**/media/
!third_party/**/media/

# Ignore static file directory at the top level of the project since it is built dynamically
static/
!/**/static
!third_party/**/static


# Ignore Pycharm folder
.idea/

# Sublime Text Related
*.sublime-project
*.sublime-workspace

