{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        #calendar table {
            margin-top: 0;
        }

        .fc-toolbar.fc-header-toolbar {
            margin-bottom: 0;
        }

        .fc-toolbar .fc-right {
            margin-top: 25px;
        }
    </style>

    <div style="background-color: white; padding: 100px 0;">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}