
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
<link rel="stylesheet" href="/static/bulma-docs.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../webapp/static/css/base.css">


<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

{% load calendar_tags %}

<style>
    .month {
        text-transform: capitalize;
    }

    .columns {
        margin-left: 0;
        margin-right: 0;
        margin-top: -0.75rem;
        
    }

    .column {
        text-align: center;
    }

    .day {
        color: black; 
    }

    .active {
        margin: 0 auto;
        max-width: 25px;
        max-height: 30px;
        border-radius: 50%; 
        background-color: teal;
        color: #fff;
    } 

    @media only screen and (max-width: 991px) {
        
        #week-one .column,
        #week-two .column,
        #week-three .column,
        #week-four .column,
        #week-five .column,
        #week-six .column {
            border: 0px solid teal; 
        }
    }

    #calendar-header .column {
        padding: 0.7rem 0.3rem;
    }

    #week-one .column,
    #week-two .column,
    #week-three .column,
    #week-four .column,
    #week-five .column,
    #week-six .column {
        border: 0px solid teal; 
    }

    .info {
        background-color: #209cee;
    }

    .success {
        background-color: #23d160;
    }

    .warning {
        background-color: #ffdd57;
    }

    .danger {
        background-color: #ff3860;
    }

    .is-one-fifth {
        width: 14.28% !important;
    }

    .event {
        position: absolute;
        border-radius: 8px;
        top: 50%;
        left: 50%;
        font-size: 10pt;
        min-width: 120px;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }

    .grid-1 {
        /*padding-top: 40px;*/
        display: grid;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        grid-template-columns: repeat(7, 1fr);
        /*grid-template-rows: repeat(5, 1fr);*/
        grid-gap: 2px;
    }

    p .day { 
        color: white;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }

    /* .item-1 {
    background: #b03532;
    }
    .item-2 {
    background: #33a8a5;
    }
    .item-3 {
    background: #ff9069;
    }
    .item-4 {
    background: #6a478f;
    }
    .item-5 {
    background: #3d8bb1;
    }
    .item-6 {
    background: #4464a1;
    }
    .item-7 {
    background: #e03f3f;
    }
    .item-8 {
    background: #59a627;
    }
    .item-9 {
    background: #b03532;
    }
    .item-10 {
    background: #4464a1;
    }
    .item-11 {
    background: #33a8a5;
    }
    .item-12 {
    background: #ff9069;
    }
    .item-13 {
    background: #3d8bb1;
    }
    .item-14 {
    background: #da6f2b;
    }
    .item-15 {
    background: #59a627;
    }
    .item-16 {
    background: #30997a;
    }
    .item-17 {
    background: #6a478f;
    }
    .item-18 {
    background: #da6f2b;
    }
    .item-19 {
    background: #ff9069;
    }
    .item-20 {
    background: #3d8bb1;
    }
    .item-21 {
    background: #da6f2b;
    }
    .item-22 {
    background: #59a627;
    }
    .item-23 {
    background: #30997a;
    }
    .item-24 {
    background: #6a478f;
    }
    .item-25 {
    background: #da6f2b;
    }
    .item-26 {
    background: #da6f2b;
    }
    .item-27 {
    background: #da6f2b;
    }
    .item-28 {
    background: #da6f2b;
    }
    .item-29 {
    background: #da6f2b;
    }
    .item-30 {
    background: #da6f2b;
    }
    .item-31 {
    background: #da6f2b;
    } */

</style>

<script>
    $(document).ready(function () {
        var body = $('body');

        body.on('click', '#prev-month', function () {
            console.log('CLICKED');

            $.ajax({
                'method': 'POST',
                'url': '/calendar/navigate/previous',
                'data': {'current_month': 'prev'},
                success: function (response) {
                    $('#baney-calendar').html(response)
                },
                error: function (err) {
                    console.log("AJAX error in request: " + JSON.stringify(err, null, 2));
                }
            })
        });

        body.on('click', '#next-month', function () {
            console.log('CLICKED');

            $.ajax({
                'method': 'POST',
                'url': '/calendar/navigate/next',
                'data': {'direction': 'next'},
                success: function (response) {
                    $('#baney-calendar').html(response)
                },
                error: function (err) {
                    console.log("AJAX error in request: " + JSON.stringify(err, null, 2));
                }
            })
        });
    });
 

</script>



<div class="container">
    <div id="baney-calendar" class="cal">

        <!-- MONTH NAV -->
        <div class="columns" id="month-year" style="display: flex;">
            <div class="column">
                <i class="fa fa-caret-left" id="prev-month"
                   style="cursor: pointer; font-size: 28px; padding: 35px 20px 20px 20px;"></i>
            </div>
            <div class="column" style="padding: 35px 20px 20px 20px; font-size: 30px;">
                <span class="month">{{ month }}</span> {{ year }}
            </div>
            <div class="column">
                <i class="fa fa-caret-right" id="next-month"
                   style="cursor: pointer; font-size: 28px; padding: 35px 20px 20px 20px;"></i>
            </div>
        </div>

        {% comment %} <div class="columns" style="display: flex; text-align: center;">
            <p style="flex: 1;">A</p>
            <p style="flex: 1;">B</p>
            <p style="flex: 1;">C</p>
            <p style="flex: 1;">D</p>
        </div> {% endcomment %}

        <!-- WEEK DAYS-->
        <div class="columns grid-1" id="calendar-header" style="display: grid; margin-top: 0.5rem; color: teal;">
            <div class="column">
                Sun
            </div>
            <div class="column">
                Mon
            </div>
            <div class="column">
                Tue
            </div>
            <div class="column">
                Wed
            </div>
            <div class="column">
                Thu
            </div>
            <div class="column">
                Fri
            </div>
            <div class="column">
                Sat
            </div>
            
        </div>

        <!-- <section class="grid-1">
            <div class="item-1">1</div>
            <div class="item-2">2</div>
            <div class="item-3">3</div>
            <div class="item-4">4</div>
            <div class="item-5">5</div>
            <div class="item-6">6</div>
            <div class="item-7">7</div>
            <div class="item-8">8</div>
            <div class="item-9">9</div>
            <div class="item-10">10</div>
            <div class="item-11">11</div>
            <div class="item-12">12</div>
            <div class="item-13">13</div>
            <div class="item-14">14</div>
            <div class="item-15">15</div>
            <div class="item-16">16</div>
            <div class="item-17">17</div>
            <div class="item-18">18</div>
            <div class="item-19">19</div>
            <div class="item-20">20</div>
            <div class="item-21">21</div>
            <div class="item-22">22</div>
            <div class="item-23">23</div>
            <div class="item-24">24</div>
            <div class="item-25">25</div>
            <div class="item-26">26</div>
            <div class="item-27">27</div>
            <div class="item-28">28</div>
            <div class="item-29">29</div>
            <div class="item-30">30</div>
            <div class="item-31">31</div>
        </section> -->

        <!-- WEEK 1-->
        <div class="grid-1" id="week-one">
            {% autoescape off %}
                {% first_day_of_month 0 request %}
                {% first_day_of_month 1 request %}
                {% first_day_of_month 2 request %}
                {% first_day_of_month 3 request %}
                {% first_day_of_month 4 request %}
                {% first_day_of_month 5 request %}
                {% first_day_of_month 6 request %}
            {% endautoescape %}
        </div>

        <!-- WEEK 2-->
        <div class="grid-1" id="week-two">
            {% autoescape off %}
                {% first_day_of_month 0 request  %}
                {% first_day_of_month 1 request %}
                {% first_day_of_month 2 request %}
                {% first_day_of_month 3 request %}
                {% first_day_of_month 4 request %}
                {% first_day_of_month 5 request %}
                {% first_day_of_month 6 request %}
            {% endautoescape %}
        </div>

        <!-- WEEK 3-->
        <div class="grid-1" id="week-three">
            {% autoescape off %}
                {% first_day_of_month 0 request  %}
                {% first_day_of_month 1 request %}
                {% first_day_of_month 2 request %}
                {% first_day_of_month 3 request %}
                {% first_day_of_month 4 request %}
                {% first_day_of_month 5 request %}
                {% first_day_of_month 6 request %}
            {% endautoescape %}
        </div>

        <!-- WEEK 4-->
        <div class="grid-1" id="week-four">
            {% autoescape off %}
                {% first_day_of_month 0 request  %}
                {% first_day_of_month 1 request %}
                {% first_day_of_month 2 request %}
                {% first_day_of_month 3 request %}
                {% first_day_of_month 4 request %}
                {% first_day_of_month 5 request %}
                {% first_day_of_month 6 request %}
            {% endautoescape %}
        </div>

        <!-- WEEK 5-->
        <div class="grid-1" id="week-five">
            {% autoescape off %}
                {% first_day_of_month 0 request  %}
                {% first_day_of_month 1 request %}
                {% first_day_of_month 2 request %}
                {% first_day_of_month 3 request %}
                {% first_day_of_month 4 request %}
                {% first_day_of_month 5 request %}
                {% first_day_of_month 6 request %}
            {% endautoescape %}
        </div>

        <!-- EVENTS-->
        <div class="events" style="border-top: 1px solid black;">
            <div style="display: grid;
                grid-template-columns: 100px auto;
                grid-template-rows: auto;
                grid-column-gap: 1rem; 
                margin: 0 0;
                border-top: 1px solid #bbb;
                border-bottom: 1px solid #bbb;">
                <img style="align-self: start; width: 100%;" src="https://www.longfield-gardens.com/_ccLib/image/plants/DETA5-1037.jpg" height="120" width="120" alt="image here">
                <div style="vertical-align: top;">
                    <h2 style="font-size: 1.8em">Event</h2>
                    <p>This is some lorem ipsum type stuff</p>
                </div>
            </div>

            <div style="display: grid;
                grid-template-columns: 100px auto;
                grid-template-rows: auto;
                grid-column-gap: 1rem; 
                margin: 0.5rem 0;
                border-top: 1px solid #bbb;
                border-bottom: 1px solid #bbb;">
                <img style="align-self: start; width: 100%;" src="https://www.longfield-gardens.com/_ccLib/image/plants/DETA5-1037.jpg" height="120" width="120" alt="image here">
                <div style="vertical-align: top;">
                    <h2 style="font-size: 1.8em">Event</h2>
                    <p>This is some lorem ipsum type stuff</p>
                </div>
            </div>

            <div style="display: grid;
                grid-template-columns: 100px auto;
                grid-template-rows: auto;
                grid-column-gap: 1rem; 
                margin: 0.5rem 0 0 0;
                border-top: 1px solid #bbb;
                border-bottom: 1px solid #bbb;">
                <img style="align-self: start; width: 100%;" src="https://www.longfield-gardens.com/_ccLib/image/plants/DETA5-1037.jpg" height="120" width="120" alt="image here">
                <div style="vertical-align: top;">
                    <h2 style="font-size: 1.8em">Event</h2>
                    <p>This is some lorem ipsum type stuff</p>
                </div>
            </div>
        </div>
    </div>
</div>