{% extends 'base.html' %} 
{% block content %}


<div class="row ">
    <form>
        <div class="step1">
            <h3>What grow zone are you in?</h3>
            <select class="" name="growzone" id="growZone">
                <option value="default" selected>--</option>
                <option value="zone1">Zone 1</option>
                <option value="zone2">Zone 2</option>
                <option value="zone3">Zone 3</option>
                <option value="zone4">Zone 4</option>
                <option value="zone5">Zone 5</option>
                <option value="zone6">Zone 6</option>
                <option value="zone7">Zone 7</option>
                <option value="zone8">Zone 8</option>
                <option value="zone9">Zone 9</option>
                <option value="zone10">Zone 10</option>
                <option value="zone11">Zone 11</option>
            </select>
        </div>

        <div class="start">
            <input type="text">Next</input>
        </div>

        <div class="step2">
            <label>What are you planting?</label>
            <input type="text" id="" value=""></input>
        </div>

        <div class="continue">
            <input type="text">Next</input>
        </div>

        <div class="step3">
            <label>How many plantings will you do?</label>
            <input type="text" id="" value=""></input>
        </div>
        
        <div class="end">
            <input type="submit">Result</input>
        </div>

    </form>

    <script>
        document.getElementsByTagName("body").onload = function () {
            hide();
        };

        function hide() {
            var group = document.querySelectorAll('.step2.step3.step4.continue.end');
            group.style.display = 'none';
        }
    </script>
</div>
{% endblock %}