<style>

    .progress-bar {
        height: 100px;
        width: 100%;
        position: relative;
        padding: 29px 0;
        display: flex;
    }

    #user-portion,
    #plant-portion,
    #financial-portion {
        height: 40px;
    }

    #user-portion {
        margin-left: 2.5%;
    }

    #plant-portion {
        margin: 0;
        width: 4%;
        text-align: center;
    }

    #financial-portion {
        margin: 0;
    }

    .progress-bubble {
        border: 3px solid black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
    }

    #plant-portion .progress-bubble {
        display: inline-block;
    }

    #user-portion .progress-bubble {
        /*float: right;*/
    }

    #financial-portion .progress-bubble {
        /*float: left;*/
    }

    .progress-bubble .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #user-portion .progress-bubble .fa {
        font-weight: bold;
    }

    #plant-portion .progress-bubble .fa {
        color: black;
    }

    #financial-portion .progress-bubble .fa {
        color: black;
    }

    .progress-bar .separator {
        height: 40px;
        margin-left: 0;
        width: 31.8%;
        padding: 18px 0;
    }

    .progress-bar .separator .progress-line {
        width: 100%;
        height: 3px;
        background-color: black;
    }

    .progress-bar .separator .progress-line.active {
        background-color: #01cc01 !important;
    }

    .active .progress-bubble {
        border: 3px solid #01cc01 !important;
    }
</style>


<div class="progress-bar">
    <div class="col-xs-1"></div>
    <div class="col-xs-2 active" id="user-portion">
        <a href="">
            <div class="progress-bubble">
                <i class="fa fa-user-o"></i>
            </div>
        </a>
    </div>


    <div class="col-xs-2 separator">
        <div class="progress-line {% if user_complete %}active{% endif %}"></div>
    </div>


    <div class="col-xs-2 {% if user_complete %}active{% endif %}" id="plant-portion">
        <a href="">
            <div class="progress-bubble">
                <i class="fa fa-leaf"></i>
            </div>
        </a>
    </div>


    <div class="col-xs-2 separator">
        <div class="progress-line {% if plants_complete %}active{% endif %}"></div>
    </div>


    <div class="col-xs-2 {% if plants_complete %}active{% endif %}" id="financial-portion">
        <a href="">
            <div class="progress-bubble">
                <i class="fa fa-credit-card"></i>
            </div>
        </a>
    </div>

    <div class="col-xs-1"></div>
</div>
