
<div class="progress-bar">
    <div class="col-1"></div>
    <div class="col-2 active" id="user-portion">
        <a href="">
            <div class="progress-bubble">
                <i class="fa fa-user-o"></i>
            </div>
        </a>
    </div>


    <div class="col separator">
        <div class="progress-line {% if user_complete %}active{% endif %}"></div>
    </div>


    <div class="col-1 {% if user_complete %}active{% endif %}" id="plant-portion">
        <a href="">
            <div class="progress-bubble">
                <i class="fa fa-leaf"></i>
            </div>
        </a>
    </div>


    <div class="col separator">
        <div class="progress-line {% if plants_complete %}active{% endif %}"></div>
    </div>


    <div class="col-2 {% if plants_complete %}active{% endif %}" id="financial-portion">
        <a href="">
            <div class="progress-bubble">
                <i class="fa fa-credit-card"></i>
            </div>
        </a>
    </div>

    <div class="col-1"></div>
</div>
