{% extends 'base.html' %}
{% load inplace_edit %}


{% block extra-head %}

    <link type='text/css' rel='stylesheet' href='/static/css/flexslider.css'>

    <script type='text/javascript' src='/static/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript'>

        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: 'fade',
                prevText: '',
                nextText: '',
                touch: false,
                pauseOnHover: true,
                keyboard: false
            });

        });

    </script>

    {% inplace_static %}

{% endblock %}

{% block content %}

<!-- <div class="row">

</div> -->

<div class="main_content">
  <div class="row" id="drop">
    <div class="mobile_nav row pv3 fixed">
      <a href="/account/register" class="link twelve columns tc white">Register</a>
      <a href="" class="link twelve columns tc white">About Us</a>
      <a href="" class="link twelve columns tc white">Calendar</a>
      <a href="" class="link twelve columns tc white">Harvest</a>
      <a href="" class="link twelve columns tc white">Contact</a>
    </div>
  </div>

  <div class="row shadow">
    <div class="hero twelve columns pb1">
      <h1 class="mt5 mb2 tc">Wall Flower Farms</h1>
    </div>
  </div>

  <div class="row home_page_content">
    <div class="third columns primary pa3 u-cf">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Tempore sit mollitia eum non, atque repudiandae voluptatibus,
        ab praesentium accusantium ad deleniti doloremque a quaerat
        ipsum perspiciatis saepe, adipisci iusto reprehenderit?
      </p>
    </div>
    <div class="third columns secondary pa3 u-cf">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ut expedita velit molestias iure asperiores quidem est esse
        perspiciatis, assumenda eius cum odio. Illo eligendi
        assumenda, perferendis voluptate cum sapiente vel!
      </p>
    </div>
    <div class="third columns tertiary pa3 u-cf">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Labore, officia asperiores voluptate laborum deserunt quos
        nulla voluptatibus, impedit modi soluta autem unde. Sequi,
        blanditiis aliquam neque nulla at velit molestias!
      </p>
    </div>
    <div class="row w-100">
      <img src="/static/images/wallflowerlogo.png" class="twelve columns" alt="">
    </div>
    <div class="row w-100">
      <img src="/static/images/blue_backgrnd.png" class="twelve columns" alt="">
    </div>

  </div>
</div>

<!-- <div id='billboard' class='flexslider billboards'>

    <ul class='slides'>

        {% for billboard in billboards %}
            <li class='slide' style="background-image: url('{{ billboard.image }}');">

                <div class='transparent-overlay'></div>

                <div class='container'>

                    <div class='slide-content'>

                        <h1>{% inplace_edit "billboard.header" %}</h1>

                    </div>

                </div>

            </li>
        {% endfor %}

    </ul>

</div>

<div id='sections' class='home-sections'>

    {% for section in sections %}
        <div class='section-wrapper {% cycle "white" "dark" %}'>

            <div class='container'>

                <div class='row'>

                    {% inplace_edit 'section.content|safe' adaptor='tiny' %}
                    <div class='clear-both'></div>

                </div>

            </div>

        </div>
    {% endfor %}

    <div class='clear-both'></div>

</div> -->

{% endblock %}
