{% extends 'base.html' %}
{% load inplace_edit %}


{% block extra-head %}

    <link type='text/css' rel='stylesheet' href='/static/css/flexslider.css'>

    <script type='text/javascript' src='/static/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript'>

        $(document).ready(function () {

            $('.flexslider').flexslider({
                animation: 'fade',
                prevText: '',
                nextText: '',
                touch: false,
                pauseOnHover: true,
                keyboard: false
            });

        });

    </script>

    {% inplace_static %}

{% endblock %}


{% block content %}

{#    <div id='billboard' class='flexslider billboards'>#}
{##}
{#        <ul class='slides'>#}
{##}
{#            {% for billboard in billboards %}#}
{#                <li class='slide' style="background-image: url('{{ billboard.image }}');">#}
{##}
{#                    <div class='transparent-overlay'></div>#}
{##}
{#                    <div class='container'>#}
{##}
{#                        <div class='slide-content'>#}
{##}
{#                            <h1>{% inplace_edit "billboard.header" %}</h1>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{#                </li>#}
{#            {% endfor %}#}
{##}
{#        </ul>#}
{##}
{#    </div>#}
{##}
{#    <div id='sections' class='home-sections'>#}
{##}
{#        {% for section in sections %}#}
{#            <div class='section-wrapper {% cycle "white" "dark" %}'>#}
{##}
{#                <div class='container'>#}
{##}
{#                    <div class='row'>#}
{##}
{#                        {% inplace_edit 'section.content|safe' adaptor='tiny' %}#}
{#                        <div class='clear-both'></div>#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#        {% endfor %}#}
{##}
{#        <div class='clear-both'></div>#}
{##}
{#    </div>#}

{% endblock %}


{% if active_user %}
    {% block user-actions %}

        <span class='left'>
            <a onclick='displayManageWindow("/admin/home_content/homesection/")'>edit sections</a>
        </span>

        <span class='left'>
            <a onclick='displayManageWindow("/admin/home_content/billboard/")'>edit billboards</a>
        </span>

    {% endblock %}
{% endif %}
