{% extends 'base.html' %}
{% load inplace_edit %}


{% block extra-head %}

    <link type='text/css' rel='stylesheet' href='/static/css/flexslider.css'>

    <script type='text/javascript' src='/static/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript'>

        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: 'fade',
                prevText: '',
                nextText: '',
                touch: false,
                pauseOnHover: true,
                keyboard: false
            });

        });

    </script>

    {% inplace_static %}

{% endblock %}

{% block header %}
    <style>
        .parallax-flowers {
            background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/static/images/tulips.jpg') no-repeat center;
            height: 100vh;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-size: cover;
        }

        .parallax-seeds {
            background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .4)), url('/static/images/growing-business.jpg') no-repeat center;
            height: 90vh;

            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <div class="parallax-flowers">
        <div class="container">
            <header class="col-12" style="min-height: 1px; padding-top: 20px; padding-bottom: 20px;">
                <div class="row">
                    <div class="col-2">
                        <img src="/static/images/suod-wf.png" class="twelve columns" alt="" style="width: 100%;">
                    </div>
                    <div class="col-10" style="padding: 25px 15px;">
                        <a style="margin-right: 10px; font-size: 20px; float: right; color: white;" href=""
                           class="link">About Us</a>
                        <a style="margin-right: 10px; font-size: 20px; float: right; color: white;" href="/calendar"
                           class="link">Calendar</a>
                        <a style="margin-right: 10px; font-size: 20px; float: right; color: white;" href=""
                           class="link">Harvest</a>
                        <a style="margin-right: 10px; font-size: 20px; float: right; color: white;" href=""
                           class="link">Contact</a>
                        <a style="margin-right: 10px; font-size: 20px; float: right; color: white;" href="/account/register"
                           class="link twelve columns tc white">Register</a>
                        <a style="margin-right: 10px; font-size: 20px; float: right; color: white;" href="/account/sign-in">Sign In</a>
                    </div>
                </div>
            </header>
            <div class="col-12 hero" style="height: 520px;">
                <div class="col-7"
                     style="min-height: 250px; padding-left: 0; padding-top: 60px; color: white; font-family: 'Work san', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                    <h2 style="font-size: 38px;">Get Growing!</h2>
                    <p style="font-size: 20px; padding-right: 50px; line-height: 1.6;">WallFlower Farms will help you
                        never miss a key moment
                        in growing your plants, no matter what type it is.</p>
                    <a href="">
                        <button style="cursor: pointer; padding: 12px 50px; border-radius: 5px; border: none; background: #42c740; font-weight: 500; color: white;">
                            Get Started
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div>
        <div class="container" style="padding: 80px 15px 80px 15px;">
            <div class="col-12" style="text-align: center;">
                <p style="font-size: 38px;">Our Dashboard</p>
                <div class="row">
                    <div class="col" style="min-height: 1px; padding-bottom: 20px;">
                        <div>
                            <img src="/static/images/calendar-icon.png" alt=""
                                 style="width: 60%; height: initial; margin-bottom: 15px;">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="col" style="min-height: 1px; padding-bottom: 20px;">
                        <div>
                            <img src="/static/images/birds-of-paradise.png" alt=""
                                 style="width: 60%; height: initial; margin-bottom: 15px;">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="col" style="min-height: 1px; padding-bottom: 20px; padding-top: 20px;">
                        <div>
                            <img src="/static/images/cart.png" alt=""
                                 style="width: 50%; height: initial; margin-bottom: 15px;">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-seeds" style="text-align: center;">
        <div class="container" style="padding: 80px 15px 80px 15px">
            <p style="color: white; font-size: 38px; margin-bottom: 30px;">From Humble Beginnings</p>
            <p style="font-size: 24px; line-height: 1.6; margin-bottom: 50px; color: white; padding: 0 150px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum
            </p>
            <button style="cursor: pointer; padding: 12px 50px; border-radius: 5px; border: none; background: #42c740; font-weight: 500; color: white;">Learn More</button>
        </div>
    </div>
{% endblock %}
