{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="profile-hero"
         style="padding-top: 20px; background: linear-gradient(rgba(50, 50, 50, 0.1), rgba(50, 50, 50, .8)), url('/static/images/garden-portfolio.jpg') center no-repeat; background-size: cover;">
        <div class="container">
            <div class="row" style="margin-bottom: 0">
                <div class="col s12" style="padding: 20px; text-align: center;">
                    <div id="profile_image"
                         style="display: inline-block; height: 200px; width: 200px; border-radius: 50%; background: url('/static/images/portfolio1.jpg') center no-repeat; background-size: cover; border: 3px solid white;">
                    </div>
                    <div style="color: white;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>ROGERS, AR</span>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div style="background: linear-gradient(rgba(40, 40, 40, 0.1), rgba(40, 40, 40, 1)), center no-repeat;">
            <div class="container" style="color: white; padding: 15px;">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s3" style="text-align: left;">
                        27 Plants
                    </div>
                    <div class="col s3" style="text-align: center;">
                        54 Tasks
                    </div>
                    <div class="col s6" style="text-align: right;">
                        Member Since Sept. 20th, 2017
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row spcB">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#test1">Plants</a></li>
                    <li class="tab col s6"><a class="active" href="#test2">Tasks</a></li>
                </ul>
            </div>
            
            <div id="test1" class="col s12" style="min-height: 1px;">
                <div class="infoAction col s12 valign-wrapper">   
                    <p class="col s12">This needs if statement</p>
                    <a class="btn btn-floating right-align bgGreen">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                <div class="row">
                {% comment %} {% for plant in plants %}  {% endcomment %}
                    <div class="col s12 m4" style="padding: 10px; height: 250px;">
                        {% comment %} <img src="" alt="">{{plant}}</img> {% endcomment %}
                        <div style="height: 100%; width: 100%; background: grey;">
                        </div>
                    </div>
                    <div class="col s12 m4" style="padding: 10px; height: 250px;">
                        <div style="height: 100%; width: 100%; background: grey;">

                        </div>
                    </div>
                    <div class="col s12 m4" style="padding: 10px; height: 250px;">
                        <div style="height: 100%; width: 100%; background: grey;">

                        </div>
                    </div>
                    <div class="col s12 m4" style="padding: 10px; height: 250px;">
                        <div style="height: 100%; width: 100%; background: grey;">

                        </div>
                    </div>
                    <div class="col s12 m4" style="padding: 10px; height: 250px;">
                        <div style="height: 100%; width: 100%; background: grey;">

                        </div>
                    </div>
                    <div class="col s12 m4" style="padding: 10px; height: 250px;">
                        <div style="height: 100%; width: 100%; background: grey;">

                        </div>
                    </div>
                    {% comment %} {% endfor %} {% endcomment %}
                </div>
            </div>
            
            <div id="taskWrapper" class="col s12 valign-wrapper bgGrey">
                
                <p class="col s12 task">lorem stus aqui sed et al</p>
                <!-- <button class="col s5 ">remove</button> -->
                <a class=" btn btn-floating">
                    <i class="material-icons">remove</i>
                </a>
            </div> 

            <div class="col s12 valign-wrapper bgGrey">
                <p class="col s12 task">lorem stus aqui sed et al</p>
                <a class=" btn btn-floating">
                    <i class="material-icons">remove</i>
                </a>
            </div>

            <div class="col s12 valign-wrapper bgGrey">
                <p class="col s12 task">lorem stus aqui sed et al</p>
                <a class=" btn btn-floating">
                    <i class="material-icons">remove</i>
                </a>
            </div>

            <div class="col s12 valign-wrapper bgGrey">
                <p class="col s12 task">lorem stus aqui sed et al</p>
                <a class=" btn btn-floating">
                    <i class="material-icons">remove</i>
                </a>
            </div>
                    
        </div>
    </div>
{% endblock %}