{% extends 'base.html' %}

{% block content %}
    <div style="height: 500px; border: 1px solid red;">
        <div class="row">
            <h1 style="padding-top: 70px;">REGISTER HERE</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="six columns">
                    <label>
                        First Name
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="six columns">
                    <label>
                        Last Name
                        {{ form.last_name }}
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        Email
                        <input type="text" name="email">
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        Password
                        <input type="password" name="password">
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        Phone
                        {{ form.phone }}
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        Confirm Password
                        <input type="password" name="conf_password">
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        Address
                        {{ form.address }}
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        Address 2
                        {{ form.address2 }}
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        City
                        {{ form.city }}
                    </label>
                </div>
                <div style="float: left; width: 50%;">
                    <label>
                        State
                        {{ form.state }}
                    </label>
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
{% endblock %}