{% extends 'base.html' %}

{% block content %}

    <style>
        .arrow-right {
            width: 0;
            height: 0;
            border-top: 24px solid transparent;
            border-bottom: 24px solid transparent;
            border-left: 24px solid #f5f4f4;
            z-index: 10;
            position: absolute;
            top: 27.2%;
            left: 30.5%;
        }

        .arrow-right-border {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 25px solid black;
            position: absolute;
            top: 27%;
            left: 30.5%;
        }
    </style>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center; margin-bottom: 0px;">REGISTER HERE</h1>
            {% include 'account/snippets/progress_bar.html' %}
            <form method="POST" style="text-align: center;">
                {% csrf_token %}
                <div class="10 columns" style="height: 300px; border: 1px solid black; background-color: #f5f4f4; position: relative;">
                    <div class="four columns"
                         style="height: inherit; border-right: 1px solid black; margin: 0; padding: 85px 30px;">
                        <div class="arrow-right"></div>
                        <div class="arrow-right-border"></div>
                        <div style="display: block; border-radius: 4px; font-size: 18px; background-color: #00af6c; color: white; padding: 6px;">
                            Pay With Card
                        </div>
                        <div style="font-size: 18px; color: #9d9ea0; margin: 20px;">Or</div>
                        <div style="display: block; border-radius: 4px; font-size: 18px; background-color: #197faf; color: white; padding: 6px;">
                            Pay with PayPal
                        </div>
                    </div>
                    <div class="six columns" style="height: inherit; text-align: center; padding: 60px 0 0 50px">
                        <div>
                            <input type="text" style="width: 60%; float: left; margin-bottom: 20px;">
                            <div style="width: 35%; margin-top: 11px; margin-left: 15px; float: left;">
                                <img src="/static/images/payment_cards.png" alt="">
                            </div>
                            <select name="" id="" style="width: 45%; margin-right: 5%; float: left;">
                                <option value=""></option>
                            </select>
                            <select name="" id="" style="width: 45%; float: left;">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <button style="margin: 25px 0">FINISH</button>
            </form>
        </div>
    </div>

{% endblock %}