{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 style="text-align: center; margin-bottom: 0px;">REGISTER HERE</h1>
            {% include 'account/snippets/progress_bar.html' %}
            <form method="POST">
                {% csrf_token %}

                <div class="one columns" style="height: 50px;"></div>

                <div class="four columns">
                    <p>Search for any plant by name</p>
                </div>
                <form action="" method="POST">
                    <div class="four columns" style="margin-left: 2%;">
                        <input type="search" id="plant-search" style="margin-top: 0; margin-left: 0;">
                    </div>
                </form>
                <div class="two columns">
                    <button onclick="getPlants()">Search</button>
                </div>

                <div class="one columns" style="height: 50px;"></div>

                <div class="twelve columns plant-results-container"
                     style="padding: 20px; height: 200px; border: 1px solid gray;">
                    <div style="float: left; width: 100%; display: block; border-bottom: 1px solid black;">
                        <div style="display: inline-block; float: left; width: 15%;">SELECT</div>
                        <div style="display: inline-block; float: left; width: 20%;">NAME</div>
                        <div style="display: inline-block; float: left; width: 20%;">Type</div>
                        <div style="display: inline-block; float: left; width: 20%;">Bloom Color</div>
                        <div style="display: inline-block; float: left; width: 20%;">Availability</div>
                    </div>
                    <div id="ajax-plants-container">

                    </div>
                </div>

                <div class="twelve columns" style="padding-left: 2%; margin: 15px 0px 15px 0;">
                    <button type="submit" style="float: right;">NEXT</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function getPlants() {
            var plant_name = $('#plant-search').val();
            console.log(plant_name);

            $.ajax({
                method: 'POST',
                url: "/plants/get_plants/",
                data: {'plant': plant_name},
                success: function (response) {
                    console.log(response.results);
                    $('#ajax-plants-container').html(response.results);
                }
            });
        }
    </script>

{% endblock %}