<!DOCTYPE html>

<html>
<head>

    <title>{% block page-title %}Welcome{% endblock %}</title>

    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='{% block meta_description %}{% endblock %}'>
    <meta name="keywords" content='{% block meta_tags %}{% endblock %}'>
    <meta name='robots' content='index, follow'>
    <meta name='Revisit-after' content='15 Days'>

    <!-- FAV/SOCIAL ICONS -->
    <link rel="SHORTCUT ICON" href="/static/images/favicon.ico">

    <!-- CSS -->
    <!-- <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"> -->
          <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel='stylesheet' href='/static/fullcalendar/dist/fullcalendar.css'/>
    <link type='text/css' rel='stylesheet' href='/static/css/base.css'>
    <link type='text/css' rel='stylesheet' href='/static/css/media-queries.css'>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- SCRIPTS -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script type='text/javascript' src="/static/js/menu.js"></script>
    <script type='text/javascript' src="/static/js/user_actions.js"></script>
    <script src='/static/moment/min/moment.min.js'></script>
    <script src='/static/fullcalendar/dist/fullcalendar.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>

    <script src="/static/angular/app.js"></script>

    {% block extra-head %}

    {% endblock %}
</head>


<body{% if active_user %} id='active-user'{% endif %}{% block body-class %}{% endblock %} ng-app="PlantApp" ng-controller="plantHome">
  {% block header %}
  <div class="docWrapper">
    {% if user.is_authenticated%} 
      
    {% else %}
    <div class="container headerWrapper">
      <header class="row">
        <div class="col s12">
          <div class="col s2"></div>
          <div class="col s8 logoWrapper">
            <img src="/static/images/wallflowerlogo.png" alt="" class="logoImg">
          </div>
          <div class="col s2"></div>
        </div>
      </header>
    </div>
    {% endif %}
  {% endblock %}

    <div id='contentWrapper'>
      {% block content %}
      {% endblock %}

      {% block extra-content %}
      {% endblock %}
    </div>
  </div>

  <footer class="page-footer ">
    <div class="container">

      <div class="row">
        <div class="col s12 m3">
          <ul class="center">
            <li><a href=""><img class="home_link" src="/static/images/favicon.png" alt="favicon"></a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          </ul>
        </div>

        <div class="col s12 m5">
          <ul class="center bottom">
            <a class="btn waves-effect waves-light">Follow</a>
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li> -->
          </ul>
        </div>

        <div class="col s12 m4">
          <ul class="center bottom">
            <h5>Contact Us</h5>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          </ul>
        </div>

      </div>

    </div>

    <div class="footer-copyright">
      <div class="container">
        <p class="copyright">&copy; 2017 Fire Fly Tech Labs. Pea Ridge, AR</p>
      </div>
    </div>

  </footer>


<!-- SCRIPTS -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script type='text/javascript' src="/static/js/bootstrap.min.js"></script>
<script type='text/javascript' src="/static/js/menu.js"></script>
<script type='text/javascript' src="/static/js/user_actions.js"></script>
<script src='/static/moment/min/moment.min.js'></script>
<script src='/static/fullcalendar/dist/fullcalendar.js'></script>

{% block extra-js %}
{% endblock %}

</body>

</html>
