<!DOCTYPE html>

<html>

<head>

    <title>{% block page-title %}Welcome{% endblock %}</title>

    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='{% block meta_description %}{% endblock %}'>
    <meta name="keywords" content='{% block meta_tags %}{% endblock %}'>
    <meta name='robots' content='index, follow'>
    <meta name='Revisit-after' content='15 Days'>

    <!-- FAV/SOCIAL ICONS -->
    <link rel="SHORTCUT ICON" href="/static/images/favicon.ico">

    <!-- CSS -->
    <link type='text/css' rel='stylesheet' href='/static/css/base.css'>
    {#    <link type='text/css' rel='stylesheet' href='/static/css/front_overrides.css'>#}
    <!-- <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"> -->
          <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel='stylesheet' href='/static/fullcalendar/dist/fullcalendar.css'/>

    <!-- FONTS -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- SCRIPTS -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script type='text/javascript' src="/static/js/menu.js"></script>
    <script type='text/javascript' src="/static/js/user_actions.js"></script>
    <script src='/static/moment/min/moment.min.js'></script>
    <script src='/static/fullcalendar/dist/fullcalendar.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>

    <script src="/static/angular/app.js"></script>

    {% block extra-head %}

    {% endblock %}
</head>


<body{% if active_user %} id='active-user'{% endif %}{% block body-class %}{% endblock %} ng-app="PlantApp" ng-controller="plantHome">
  <div class="doc-wrapper">
    {% block header %}
      <div class="container">
        <header class="col-12" style="min-height: 1px; padding-top: 20px; padding-bottom: 20px;">
            <div class="row">
                <div class="col-2">
                    <img src="/static/images/wallflowerlogo.png" class="twelve columns" alt="" style="width: 100%;">
                </div>
                <div class="col-10" style="padding: 25px 15px;">
                    <a style="margin-right: 10px; font-size: 20px; float: right;" href=""
                       class="link twelve columns tc white">About Us</a>
                    <a style="margin-right: 10px; font-size: 20px; float: right;" href=""
                       class="link twelve columns tc white">Calendar</a>
                    <a style="margin-right: 10px; font-size: 20px; float: right;" href=""
                       class="link twelve columns tc white">Harvest</a>
                    <a style="margin-right: 10px; font-size: 20px; float: right;" href=""
                       class="link twelve columns tc white">Contact</a>
                    {% if logged_in %}
                        <a style="margin-right: 10px; font-size: 20px; float: right;" href="/account/sign-out">
                            Sign Out
                        </a>
                    {% else %}
                        <a style="margin-right: 10px; font-size: 20px; float: right;" href="/account/register"
                           class="link twelve columns tc white">Register</a>
                        <a style="margin-right: 10px; font-size: 20px; float: right;" href="/account/sign-in">
                            Sign In
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>
    </div>
    {% endblock %}

    <div id='content-wrapper'>
        {% block content %}
        {% endblock %}

        {% block extra-content %}
        {% endblock %}
    </div>
  </div>

  <footer class="col-12" style="min-height: 1px; text-align: center; padding: 50px 15px;">
    <div class="col-12">
        <p class="copyright" style="margin: 0;">&copy; 2017 Fire Fly Tech Labs</p>
    </div>
    <div class="col-12" style="margin: 10px 0;">
        <a href="">
            <img class="home_link" src="/static/images/favicon.png" alt="favicon">
        </a>
    </div>
    <div class="col-12" style="margin: 0;">
        <p class="location" style="margin: 0;">Pea Ridge, AR</p>
    </div>
  </footer>


<!-- SCRIPTS -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script type='text/javascript' src="/static/js/bootstrap.min.js"></script>
<script type='text/javascript' src="/static/js/menu.js"></script>
<script type='text/javascript' src="/static/js/user_actions.js"></script>
<script src='/static/moment/min/moment.min.js'></script>
<script src='/static/fullcalendar/dist/fullcalendar.js'></script>

{% block extra-js %}
{% endblock %}

</body>

</html>
