/*========================
        Global Resets
=========================*/
html {
  font-size: 16px;
}

body {}

/*========================
        Root Variables
=========================*/
:root {
  --primaryColor: #8CD4BA;
  --secondaryColor: #AADFCC;
  --navhoverColor: #86CAB1;
}

/*========================
         Structure
=========================*/

/*________________________________Home Page____________________________*/
/*________________________________Home Page____________________________*/
/*________________________________Home Page____________________________*/


/*________________________________Home Page____________________________*/
#parallaxImg {
  bottom: 4rem;
}

#parallaxBottomWrapper {
  max-height: 400px;
}

.calendarIcon,
.plantIcon,
.checkoutIcon { width: 100%; padding: 2rem;}

/*========================
         Skin
=========================*/
button {
  var(--primaryColor)
}

.homeContentSecondWrapperSkin {
  background-color: #EAEAEA;
}
