/*========================
        Global Resets
=========================*/
html {
  font-size: 16px;
}

body {}

/*========================
        Root Variables
=========================*/
:root {
  --primaryColor: #8CD4BA;
  --secondaryColor: #AADFCC;
  --navhoverColor: #EAEAEA;
}

/*========================
         Structure
=========================*/



/*________________________________Home Page____________________________*/
#parallaxImg {
  bottom: 4rem;
}

#parallaxBottomWrapper {
  max-height: 400px;
}
.nav-wrapper { background-color: var(--primaryColor);}
.side-nav li:hover { background-color: var(--navhoverColor); }
.homeContentFirstWrapper h1,
.homeContentSecondWrapper h1,
.homeContentThirdWrapper h1 { text-align: center; }

.calendarIcon,
.plantIcon,
.checkoutIcon {
  width: 100%;
  text-align: center;
  padding: 2rem;
  display: none;
}

.docWrapper { min-height: calc(100vh - 210px); }

.contentSide { width: 100%; }
.contentIcons {
  text-align: center;
  width: 40%;
}

.page-footer { background-color: var(--primaryColor); }

/*========================
         Skin
=========================*/

button {
  background-color: var(--primaryColor);
}

.homeContentSecondWrapperSkin {
  background-color: #EAEAEA;
}

/*________________________________Register Page____________________________*/


/*========================
        Structure
=========================*/

.progress-bar {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  background: white !important;
}
.formBuffer { padding: 0 1rem;}
#user-portion,
#plant-portion,
#financial-portion { height: 40px; }
#user-portion { padding-right: 0; }
#plant-portion {
  margin: 0;
  text-align: center;
  padding: 0;
}
#financial-portion {
  margin: 0;
  padding-left: 0;
}
.progress-bubble {
  border: 3px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
}
#plant-portion .progress-bubble { display: inline-block; }
#user-portion .progress-bubble { float: right; }
#financial-portion .progress-bubble { float: left; }
.progress-bubble .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#user-portion .progress-bubble .fa { font-weight: bold; }
#plant-portion .progress-bubble .fa { color: black; }
#financial-portion .progress-bubble .fa { color: black; }
.progress-bar .separator {
  height: 40px;
  margin-left: 0;
  width: 31.8%;
  padding: 18px 0;
}
.progress-bar .separator .progress-line {
  width: 100%;
  height: 3px;
  background-color: black;
}
.progress-bar .separator .progress-line.active { background-color: #01cc01 !important; }
.active .progress-bubble { border: 3px solid black; }


/*========================
          Skin
=========================*/

/*_______________________________ Sign In Page ___________________________*/

/*========================
        Structure
=========================*/

.logoWrapper {
  text-align: center;
  padding: 0!important;
  margin-top: 1rem;
}

.logoImg { width: 100%; }
.signInForm { max-width: 600px; margin: 0 auto; }
.signInSubmit { margin: 0 10px; }


/*========================
          Skin
=========================*/

/*________________________________Home Page____________________________*/