/*========================
        Global Resets
=========================*/
html {
  font-size: 16px;
}

body {}

/*========================
        Root Variables
=========================*/
:root {
  --primaryColor: #8CD4BA;
  --secondaryColor: #AADFCC;
  --navhoverColor: #EAEAEA;
}

/*========================
         Structure
=========================*/

/*________________________________Home Page____________________________*/
/*________________________________Home Page____________________________*/
/*________________________________Home Page____________________________*/


/*________________________________Home Page____________________________*/
#parallaxImg {
  bottom: 4rem;
}

#parallaxBottomWrapper {
  max-height: 400px;
}
.nav-wrapper { background-color: var(--primaryColor);}
.side-nav li:hover { background-color: var(--navhoverColor); }
.homeContentFirstWrapper h1,
.homeContentSecondWrapper h1,
.homeContentThirdWrapper h1 { text-align: center; }

.calendarIcon,
.plantIcon,
.checkoutIcon {
  width: 100%;
  text-align: center;
  padding: 2rem;
  display: none;
}

.contentSide { width: 100%; }

.contentIcons {
  text-align: center;
  width: 40%;
}

/*========================
         Skin
=========================*/
button {
  var(--primaryColor)
}

.homeContentSecondWrapperSkin {
  background-color: #EAEAEA;
}
