
/*____________________________  320px  ____________________________*/

/*===== Home =====*/



/*____________________________  600px  ____________________________*/

/*===== Home =====*/



/*____________________________  992px  ____________________________*/

/*===== Home =====*/
@media (min-width: 992px) {
  .contentIcons,
  .contentSide { display: block; }

  .contentIcons { width: 30% }
  .contentSide { width: 70%; }

  .calendarIcon,
  .plantIcon,
  .checkoutIcon {
    display: inline-block;
  }
}


/*____________________________  1200px  ____________________________*/

/*===== Home =====*/
