
/*____________________________  320px  ____________________________*/

/*===== Home =====*/


/*____________________________  600px  ____________________________*/

@media (min-width: 600px) {
  /*===== Home =====*/

  /*===== Sign In =====*/
  .logoImg {
    width: 75%;
    max-height: 200px;
    max-width: 390px;
  }

  #plantContainer { margin-left: 1rem; }
}

/*____________________________  992px  ____________________________*/

/*===== Home =====*/
@media (min-width: 992px) {
  .brand-logo { margin-left: 3rem;}
  
  .contentIcons,
  .contentSide { display: block; }

  .contentIcons { width: 30% }
  .contentSide { width: 70%; }

  .calendarIcon,
  .plantIcon,
  .checkoutIcon { display: inline-block; }
}


/*____________________________  1200px  ____________________________*/

/*===== Home =====*/
