{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col s12" style="padding: 0;">
            <div class="row">
                <div class="col hide-on-small-only m12" style="height: 3rem;"></div>
                <div class="col show-on-small hide-on-med-and-up s12"
                     style="min-height: 400px; padding-bottom: 8px;">
                    <i class="fa fa-sort-desc" aria-hidden="true" style="float: right; font-size: 24px;"></i>

                    <!-- FILTER BY GROWTH TYPE -->
                    <label for="">
                        Growth Type
                        <select name="growth_type" id="growth_type" style="height: 50px; display: block;">
                            <option value="tree">Tree</option>
                            <option value="herb">Herb</option>
                            <option value="shrub">Shrub</option>
                            <option value="vine">Vine</option>
                        </select>
                    </label>

                    <!-- FILTER BY PLANT DATE START -->
                    <label for="">
                        Planting Start Date
                        <input type="date">
                    </label>

                    <!-- FILTER BY PLANT DATE END -->
                    <label for="">
                        Planting End Date
                        <input type="date">
                    </label>

                    <!-- HARDINESS ZONE -->
                    <label for="">
                        Hardiness Zone
                        <select name="growth_type" id="growth_type" style="height: 50px; display: block;">
                            <option value="tree">Tree</option>
                            <option value="herb">Herb</option>
                            <option value="shrub">Shrub</option>
                            <option value="vine">Vine</option>
                        </select>
                    </label>

                    <!-- Dropdown Trigger -->
                    <!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a> -->

                    <!-- Dropdown Structure -->
                    <!-- <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                    </ul> -->
                </div>

                <div class="col hide-on-small-only m3" style="height: 700px; border: 3px solid #02a29c;">

                    <!-- FILTER BY GROWTH TYPE -->
                    <label for="">
                        Growth Type
                        <select name="growth_type" id="growth_type" style="height: 50px; display: block;">
                            <option value="tree">Tree</option>
                            <option value="herb">Herb</option>
                            <option value="shrub">Shrub</option>
                            <option value="vine">Vine</option>
                        </select>
                    </label>

                    <!-- FILTER BY PLANT DATE START -->
                    <label for="">
                        Planting Start Date
                        <input type="date">
                    </label>

                    <!-- FILTER BY PLANT DATE END -->
                    <label for="">
                        Planting End Date
                        <input type="date">
                    </label>

                    <!-- HARDINESS ZONE -->
                    <label for="">
                        Hardiness Zone
                        <select name="growth_type" id="growth_type" style="height: 50px; display: block;">
                            <option value="tree">Tree</option>
                            <option value="herb">Herb</option>
                            <option value="shrub">Shrub</option>
                            <option value="vine">Vine</option>
                        </select>
                    </label>

                    <div style="text-align: center; margin-top: 1rem;">
                        <button class="btn btn-primary">EXPLORE</button>
                    </div>
                </div>
                <div class="col s12 m9" style="min-height: 1px; border: none;">
                    <div class="row">
                        {% for plant in plants %}

                            <div class="col s12 m6 l4" style="text-align: center; min-height: 1px; padding: 0; margin-bottom: 1rem; border-top: 30px solid #26a69a; border-bottom: 5px solid #26a69a; border-right: 5px solid #26a69a; border-left: 5px solid #26a69a;">
                                <div style="padding-bottom: 30px; margin-bottom: 10px;">
                                    <div style="height: 250px; background: url('/media/{{ plant.images.all.0.image }}') no-repeat center; background-size: cover;">
                                    </div>
                                    <p>{{ plant.botanical_name }}</p>
                                    <a href="/plants/{{ plant.slug }}">
                                        <button class="btn btn-info" style="border-radius: 10px;">INFO</button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}